<p id="notice"><%= notice %></p>

<p>
  <strong>Icon:</strong>
  <%= @message.icon %>
</p>

<p>
  <strong>Title:</strong>
  <%= @message.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @message.content %>
</p>

<p>
  <strong>Active:</strong>
  <%= @message.active %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @message.priority %>
</p>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
