<%= simple_form_for(@registration) do |f| %>
  <%= f.error_notification %>
  <div class="row">
    <div class="form-group col-md-6">
      <%= f.input :name, input_html: {class: 'form-control'} %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-6">
      <%= f.input :email, input_html: {class: 'form-control'}  %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-6">
      <%= f.input :phone, input_html: {class: 'form-control'}  %>
    </div>
  </div>
    <div class="form-group">
      <%= f.association :courses, label: 'Which courses are you interested in?', as: :check_boxes %>
    </div>
    <div class="checkbox">
      <label>
        <%= f.check_box :opt_in %> Yes, please keep me informed of upcoming courses.
      </label>
    </div>

    <button class="btn btn-warning btn-lg loading-button" name="commit" type="submit" value="Send me my info pack" data-loading-text="Packing information..." />Send me my info pack</button>
  
<% end %>
