<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @registration.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @registration.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @registration.phone %>
</p>

<p>
  <strong>Courses:</strong>
  <% @registration.courses.each do |course| %><%= course.title %>, <% end %>
</p>

<p>
  <strong>Opt in:</strong>
  <%= @registration.opt_in %>
</p>

<%= link_to 'Edit', edit_registration_path(@registration) %> |
<%= link_to 'Back', registrations_path %>
