
          
  <%= link_to root_path do %>
     <%= image_tag 'RoboLogo4.jpg', class: 'img-responsive img-rounded' %>
    <% end %>
<br>

<% if @messages.count > 0 %>
  <% @messages.each do |message| %>
   
    <div class="row">
    
    <div class="col-md-12 col-sm-12 col-lg-12">
      <div class="panel panel-emerald">
          <div class="panel-heading">
              <div class="panel-title">
                  <span class="icon-stack">
                    <i class="icon-check-empty icon-stack-base"></i>
                    <i class="icon-<%= message.icon %>"></i>
                  </span> <%= message.title %>
              </div>
          </div>
          <div class="panel-body justify">
              <%= message.content.html_safe %>
          </div>
        </div>
      </div><!--/col-->
    
      </div><!--/row-->
  <% end %>

<% end %>
        