<% content_for :title, "<%= @event.title - coding courses, web application development and startup support" %>
<% content_for :description, "The Coder Factory is a new type of organisation, one that provides technology education, employment opportunities and supports your startup ambitions." %>

<h1><%= link_to "Calendar", calendar_path, class: 'text-danger' %> > <%= @event.title %></h1>
<div class="panel panel-danger">
              <div class="panel-heading">
                <div class="panel-title">
                  <span class="icon-stack">
                    <i class="icon-check-empty icon-stack-base"></i>
                    <i class="icon-<%= @event.icon %>"></i>
                  </span> 
                  <%= @event.title %> </div>
              </div>
              <div class="panel-body">
              <div class="well">
                  <div class="row">
                  <div class="col-md-7">
                  <p class="lead"><%= @event.intro %> </p>
                  <a href="<%= @event.rsvp %>" target="_blank" class="btn btn-danger"><i class="icon-circle-arrow-right"></i> Reserve your place</a>
                  </div>
                  <div class="col-md-5">
                  
                    <ul class="icons-ul">
                      
                     <li><i class="icon-li icon-calendar"></i> <%= @event.date.strftime("%e %B %Y") %></li>
                     <li><i class="icon-li icon-time"></i> <%= @event.start_time.strftime("%I.%M%p") %> - <%= @event.finish_time.strftime("%I.%M%p") %></li>
                     <li><i class="icon-li icon-building"></i> <%= @event.location %></li>
                     <li><i class="icon-li icon-map-marker"></i> <%= @event.address %><br><%= @event.suburb %> <%= @event.postcode %></li>
                    </ul>
                  </div>
                </div>
              </div>
                  
                  <hr>
                  <p><%= @event.description.html_safe %></p>
                  <hr>
                  
                  <a href="<%= @event.rsvp %>" target="_blank" class="btn btn-danger"><i class="icon-circle-arrow-right"></i> Reserve your place</a>
                  
                  <hr>
                  <% if user_signed_in? %><%= link_to "Edit", edit_event_path(@event) %><% end %>
                </div>
            </div>