
<%= simple_form_for(@course) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title, :input_html => { class: "form-control"} %>
    <%= f.input :icon, :input_html => { class: "form-control"} %>
    <%= f.input :publish %>
    <%= f.input :intro, :input_html => { :rows => '5', class: "form-control"} %>
    <%= f.input :description, :input_html => { :rows => '5', class: "form-control"} %>
    <%= f.input :designed_for, :input_html => { :rows => '5', class: "form-control"} %>
  </div>
  <br>
  <div class="form-actions">
    <%= f.button :submit %>
    <br>
  </div>
  <br><br>
<% end %>