<h1 class="text-success">Blog posts</h1>

<% @posts.each do |post| %>
    <div class="panel panel-success">
      <div class="panel-heading">
          <h2 class="panel-title">
            <span class="icon-stack">
              <i class="icon-check-empty icon-stack-base"></i>
              <i class="icon-<%= post.icon %>"></i>
            </span>
              <%= link_to post.title, post %> 
              
          </h2>
      </div>
      <div class="panel-body">

        by Pete Argent <small><%= post.created_at.strftime("%d %B, %Y") %></small>
      	<h2 class="text-success"><%= post.lead %></h2>
      	<%= image_tag post.image, class: 'post-image img-responsive img-rounded' %>
          <div class="well">

            <p class="lead"><%= post.content.html_safe %></p>

           

    
        </div>
         <% if user_signed_in? %><%= link_to "Edit", edit_post_path(post) %><% end %>
      </div>
   

   </div>   
<% end %>