<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Student scholarship received</h1>
    
    <table>
          <tr>
            <td width="50px">Name:</td>
            <td><%= @scholarship.first_name %></td>
          </tr>
          <tr>
            <td>Email:</td>
            <td><%= @scholarship.email %></td>
          </tr>
          <tr>
            <td>Phone:</td>
            <td><%= @scholarship.phone %></td>
          </tr>
          
          <tr>
            <td>LinkedIn Profile:</td>
            <td><%= @scholarship.linkedin %></td>
          </tr>
          <tr>
            <td>About applicant:</td>
            <td>
              <%= @scholarship.background %>
            </td>
          </tr>
          <tr>
            <td>Education:</td>
            <td>
              <%= @scholarship.education_history %>
            </td>
          </tr>
          <tr>
            <td>Work background:</td>
            <td>
              <%= @scholarship.work_history %>
            </td>
          </tr>
          <tr>
            <td>Motivation:</td>
            <td>
              <%= @scholarship.motivation %>
            </td>
          </tr>
          <tr>
            <td>Goals:</td>
            <td>
              <%= @scholarship.goals %>
            </td>
          </tr>
          <tr>
            <td>Accepts terms:</td>
            <td>
              <%= @scholarship.agree_to_terms %>
            </td>
          </tr>
          
        </table>
  </body>
</html>